body {
    background-color: #000000
}

li {
    color: #FFFFFF
}

h1 {
    font-size: 72px;  
    color: #ffffff
}

h2 {
    color: #d6c195;
}

h3 {
    color: #ffd1f5
}

h4 {
    color: #b5b5b5
}

h4.job-title {
}

p {
    color: #FFFFFF
}

div {
    color: #FFFFFF
}

span {
    color: #FFFFFF
}

a {
    color: #fb00ff;
}

h2#job {
    color: blue;
}

/* .navlink {
    color: red;
} */